*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #3b4664;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 15px;
}
.inputContainer {
    background-color: #181f32;
    padding: 10px;
    border-radius: 15px;

}
.inputContainer input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #181f32;
    color: white;
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: right;
    font-weight: 600;
}
.inputContainer input:focus {
    outline: none;
}
.keypad {
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    grid-gap: 15px;
    background-color: #252D44;
    padding: 25px;
    border-radius: 10px;
}
.btn {
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    border: none;
    background-color: #eae3db;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.btn:hover {
    scale: 1.09;
    box-shadow: 2px 2px 5px;
    opacity: 0.7;
}
.btn:active {
    scale: 1;
    background-color: #eae3db;
    box-shadow: inset 2px 2px 5px;
}

#reset {
    background-color: #647299;
    grid-column: span 2;
}
#del{
    background-color: #647299;

}
#equalto {
    background-color: #d13f30;
    grid-column: span 2;
}